* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --regular: 400;
    --medium: 500;
    --demi-bold: 600;
    --bold: 800;

    --font-montserrat: "Montserrat", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    --txt_cl_primary:#2C4058;
    --btn_txt_cl_hover:#fff;
    --btn_border_cl: #000000;
    --btn_bg_cl:white;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: var(--font-montserrat);
 }

 .container {
  width: 81.25%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
   
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Create 3 columns: 2fr for img1, 1fr for img2 and img3 */
  grid-template-rows: 1fr 1fr; /* Create 2 rows */
  grid-gap: 10px; /* Set gap between rows and columns to 10px */
}

.gallery_img1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

}

.gallery_img2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  
}

.gallery_img3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

}

.gallery_img4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
 
}

.gallery_img5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
 
}

.img_styling{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  }





